Remove OS files:
.DS_Store
.DS_Store?
._*
.sass-cache
Thumbs.db

#Remove miscellaneous:
.idea/
.vscode/
.htaccess
.typingsrc

#Remove node modules:
/node_modules/*

#/Remove typings:
/typings/*

#Remove build file:
/dist/*

#Remove libs files:
/public/libs/*