.album-container {
    width: calc(100%);
    //padding-top: 20px;
    padding-top: 115px;

}

.album {

    &__item {
        min-width: calc(25%);
        max-width: calc(25%);

        &--cover-container {
            position: relative;
            margin: auto;
            border: 5px solid #fff;
            overflow: hidden;
            position: relative;
            text-align: center;

            &:hover .album__item--cover {
                transform: scale(1.2);
            }

            &:hover .album__item--story {
                visibility: visible;
            }
        }

        &--story {
            margin: auto;
            position: absolute;
            background: rgba(0, 0, 0, 0.6);
            visibility: hidden;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            backface-visibility: hidden;
            transition: all 0.3s;
        }

        &--title {
            font-size: 24px; 
            color: #CFCFCF;
            opacity: 0;
            padding:20px;
            background: #111;
            transition: all 0.3s;
            pointer-events: none;
        }

        &--description {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            padding: 10px;
            color: #CFCFCF;
            font-style: italic;
            font-size: 18px;
            opacity: 0;
            transition: all 0.3s;
            pointer-events: none;
        }

        &--button {
             position: relative;
             //display: block;
             pointer-events: auto !important;
             cursor: pointer;
        }

        &--cover {
            width: calc(100%);
            transition: all 0.3s;
        }
    }
}

.item {
    &-desc {
        padding: 20px;
    }

    &-button {

    }
}