<div *ngIf="activeAlbums != null">
    <masonry class="album-container">
        <masonry-brick *ngFor="let album of activeAlbums | orderBy: ['activeAlbums']" (click)="goDetail(album)" class="album__item">
            <div class="album__item--cover-container">
                <img class="album__item--cover" [src]="this.getCoverPhoto(album.cover)" alt="album cover">
            </div>
            <div class="album__item--story">
                <div class="album__item--title">
                    {{ album.title | uppercase }}
                </div>
                <div class="album__item--desc">
                    {{ album.desc }}
                </div>
            </div>
        </masonry-brick>
    </masonry>


</div>

<button type="text" (click)="logAlbums()">GET Albums</button>
<button type="text" (click)="logPhotos()">GET Photos</button>
<button type="text" (click)="logBaaS()">TEST API</button>

<div *ngIf="test">
    <div *ngFor="let item of test">
        {{ item.name }}
    </div>
</div>