<section id="contact">
    <div class="contact-container">
        <div class="contact-note">
            <p class="contact-note__el">Please keep emails briefing</p>
            <p class="contact-note__el">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
            <p class="contact-note__el">Nam libero tempore, cum soluta nobis est eligendi optio</p>
        </div>
        <div class="contact-form">
            <div class="col-md-6 contact-form--left">
                <ul class="contact-info">
                    <li class="contact-info__item"><span class="contact-title">Frizzy Breeze</span></li>
                    <li class="contact-info__item">Słoneczna 15</li>
                    <li class="contact-info__item">40-255 Katowice</li>
                    <li class="contact-info__item">+48 511 469 098</li>
                </ul>
            </div>
            <div class="col-md-6 contact-form--right">
                <form>
                    <fieldset class="form-group">
                        <label for="name"></label>
                        <input class="form-control" type="text" name="name" placeholder="Enter your name...">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="email"></label>
                        <input class="form-control" type="text" name="email" placeholder="...e-mail...">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="message"></label>
                        <textarea class="form-control" name="message" rows="10" cols="20" placeholder="...and message at last."></textarea>
                    </fieldset>
                    <fieldset class="form-group contact-buttons">
                        <input name="submit" class="btn btn-success btn-contact" value="Send">
                        <input name="submit" class="btn btn-default btn-contact" value="Reset">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>