<!--<div class="row">
    <div class="lightbox--container">
        <div class="lightbox--preview">
            <p style="margin: auto;">BLABLABLA</p>
        </div>
    </div>
</div>-->
<div class="photos" *ngIf="activePhotos">
    <h2>{{ album.title | uppercase }}</h2>
    <div class="photos__item" *ngFor="let photo of activePhotos | orderBy: ['activePhotos']">

        <a href="{{ photo.url }}" data-lightbox="roadtrip">
            <img class="photos__image" src="{{ photo.url }}" alt="" />
        </a>
    </div>
</div>
