input[type=file] {
    display: block;
    
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.glyphicon {
    margin: auto;
}

.selected {
    opacity: 1 !important;
}

.ds-photo {
    display: flex;
    justify-content: space-between;

    &__container {
        position: relative;
        //display: flex;
        display: inline;
        // flex-direction: row;
        // flex-wrap: wrap;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 15px;
        justify-content: space-between;
        max-height: 400px;
        overflow-y: scroll;
    }

    &__item {
        display: inline;
        margin: 2.5px;
        width: 100px;
        height: auto;
        float: left;

        &--picture-photo {
            width: 100%;
            height: auto;
        }

        &--cover {
            min-width: 100px;
            max-width: 100px;
            min-height: 100px;
            max-height: 100px;
            overflow: hidden;
        }

        &--cover-photo {
            width: 200px;
            height: auto;
            opacity: 0.5;
        }

        &--no-album {
            opacity: 0.6;

            &:hover {
                opacity: 1;
            }
        }
    }
}