<div class="row">
    <div class="dashboard">
        <div class="menu-aside">
            <div class="menu-aside__logo">
                <span class="menu-aside--center">lounge</span>
            </div>
            <div class="menu-aside__list">
                <a href="#" class="menu-aside__item">
                    <div class="menu-aside__ico">
                        <i class="glyphicon glyphicon-picture menu-aside--center btn-lg" aria-hidden="true" name="albums"></i>
                    </div>
                    <div class="menu-aside__label">
                        <label class="menu-aside--center" for="albums">albums</label>
                    </div>
                </a>
                <a href="#" class="menu-aside__item">
                    <div class="menu-aside__ico">
                        <i class="glyphicon glyphicon-tasks menu-aside--center btn-lg" aria-hidden="true" name="summary"></i>
                    </div>
                    <div class="menu-aside__label">
                        <label class="menu-aside--center" for="summary">summary</label>
                    </div>
                </a>
                <a href="#" class="menu-aside__item">
                    <div class="menu-aside__ico">
                        <i class="glyphicon glyphicon-wrench menu-aside--center btn-lg" aria-hidden="true" name="settings"></i>
                    </div>
                    <div class="menu-aside__label">
                        <label class="menu-aside--center" for="settings">settings</label>
                    </div>
                </a>
            </div>
            
        </div>
        <div class="contener">
            <div class="header"> 
                <div class="header__body">
                    <i class="glyphicon glyphicon-menu-hamburger"></i>
                </div>
            </div>
            <div class="content">
                <div class="content__headline">
                    <h2>Dashboard</h2>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit or Create Album</h3>
                    </div>
                    <div class="panel__container panel-body">
                        <div class="album thumbnail" *ngFor="let album of albums">
                            <div class="action-bar" id="action">
                                <span class="action-bar__button action-bar__button--edit" (click)="openAlbum(album)">
                                    <i class="glyphicon glyphicon-cog"></i>
                                </span>
                                <span class="action-bar__button action-bar__button--remove" (click)="deleteAlbum(album)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </span>
                            </div>
                            <div class="album__cover">
                                <img class="album__picture" height="100" [src]="this.getCoverPhoto(album.cover)" alt="album cover">
                            </div>
                            <div class="album__desc">
                                <span>{{ album.title }}</span>
                            </div>
                        </div>
                        <modal (emitAlbum)="sendAlbum($event)" [album]="album" [photos]="photos"></modal>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit Photo</h3>
                    </div>
                    <div class="panel__container panel-body">
                        <div class="photo thumbnail" *ngFor="let photo of photos" (click)="openPhoto(photo)">
                            <div class="photo__cover">
                                <img class="photo__picture" height="100" [src]="photo.url" alt="photo">
                            </div>
                        </div>
                        <modal-small></modal-small>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Upload Photos</h3>
                    </div>
                    <div class="panel__container panel-body">
                        <!-- TESTING -->
                        <div class="col-md-3">

                            <div ng2FileDrop
                                [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                                (fileOver)="fileOverBase($event)"
                                [uploader]="uploader"
                                class="well my-drop-zone">
                                Drop Photos HERE...
                            </div>

                            ..or select here
                            <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

                        </div>

                        <div class="col-md-9" style="margin-bottom: 40px">

                            <h3>Upload Queue</h3>
                            <p>Queue length: {{ uploader?.queue?.length }}</p>

                            <table class="table">
                                <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th>Size</th>
                                    <th>Progress</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of uploader.queue">
                                    <td><strong>{{ item?.file?.name }}</strong></td>
                                    <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                    <td *ngIf="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-xs"
                                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
                                        <button type="button" class="btn btn-warning btn-xs"
                                                (click)="item.cancel()" [disabled]="!item.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs"
                                                (click)="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div>
                                <div>
                                    Queue progress:
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success btn-s"
                                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                    <span class="glyphicon glyphicon-upload"></span> Upload all
                                </button>
                                <button type="button" class="btn btn-warning btn-s"
                                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                </button>
                                <button type="button" class="btn btn-danger btn-s"
                                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> Remove all
                                </button>
                            </div>

                        </div>
                        <!-- END TESTING -->
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>


