<div class="dashboard-header">
    <div class="dashboard-header__container">
        <a href="/dashboard">Lounge</a>
    </div>
</div>
<div class="dashboard-container">
    <aside>
        <div class="dashboard-menu">
            <div class="dashboard-menu__item">
                <i class="glyphicon glyphicon-picture dashboard-menu__item--ico" name="photo"></i>
                <label class="dashboard-menu__item--label" for="photo">Photos</label>
            </div>
            <div class="dashboard-menu__item">
                <i class="glyphicon glyphicon-tasks dashboard-menu__item--ico"></i>
                <label class="dashboard-menu__item--label" for="photo">Summary</label>
            </div>
            <div class="dashboard-menu__item">
                <i class="glyphicon glyphicon-wrench dashboard-menu__item--ico"></i>
                <label class="dashboard-menu__item--label" for="photo">Settings</label>
            </div>
        </div>
    </aside>
    <div class="dashboard-content">
        <h2 class="dashboard-content__title">Dashboard</h2>
    </div>
</div>
