    <header class="header" *ngIf="x">
        <div class="header-container">
            <div class="header-container__logo_nav">
                <div class="logo">
                    <a routerLink="/"><h1 class="logo__text">{{ title | uppercase }}</h1></a>
                </div>
                
                <nav>
                    <ul class="nav nav--main">
                        <li class="nav__item">
                            <a class="nav__link" routerLink="/bio">bio</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" routerLink="/case-study">case study</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" routerLink="/contact">contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
               
            <div class="header-container__social">
                <social></social> 
            </div>
        </div>
        <div class="aside-container">
            <aside>
                <ul class="nav nav--aside">
                    <li *ngFor="let nav of navigation" class="nav__item nav--aside__item">
                        <a class="nav__link" routerLink="{{ nav.url }}/{{ nav.category }}">{{ nav.title }}</a>
                    </li>
                </ul>
            </aside>
        </div>
        
    </header>
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>

