// .container-fluid {
// }

a {
    color: #000;
    &:hover {
        color:#000;
        text-decoration: none;
    }
}

nav a {

    &:hover {
        color: red;
    }
}

.head {
    text-align: center;
    &__logo {
        
        &--text {
            font-weight: bolder;
        }
    }

}

